In [13]:
import pandas as pd

df = pd.read_csv("../../data/raw/raw_data_turkey_1900_2024.csv")
df

,No,Event ID,Date,Origin Time,Latitude,Longitude,Depth(km),xM,MD,ML,Mw,Ms,Mb,Type,Location
0,1,19000920000001,1900-09-20,00:00:01.00,37.8000,29.1000,5.0,5.0,5.0,-,NaN,-,-,Ke,DENIZLI (DENIZLI) [North East 2.3 km]
1,2,19010223000000,1901-02-23,00:00:00.00,37.9000,27.9000,15.0,4.8,4.7,4.6,4.8,4.6,4.7,Ke,KENGER- (AYDIN) [North East 1.1 km]
2,3,19010301000001,1901-03-01,00:00:01.00,38.2000,27.7000,5.0,5.0,5.0,-,NaN,-,-,Ke,YAKACIK-BAYINDIR (IZMIR) [South West 0.8 km]
3,4,19010401000001,1901-04-01,00:00:01.00,38.4000,31.4000,5.0,5.0,5.0,-,NaN,-,-,Ke,ATAKENT-AKSEHIR (KONYA) [North East 2.4 km]
4,5,19010501000001,1901-05-01,00:00:01.00,37.8000,27.8000,15.0,5.0,5.0,-,NaN,-,-,Ke,KADIKOY- (AYDIN) [South West 2.6 km]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64134,64135,20240428211453,2024-04-28,21:14:53.15,38.5330,38.0423,5.4,3.9,-,3.8,3.9,-,-,Ke,CIVRIL-YAZIHAN (MALATYA) [South 3.0 km]
64135,64136,20240428213328,2024-04-28,21:33:28.98,37.0177,29.7712,6.2,4.0,-,4.0,3.9,-,-,Ke,YAZIR-CAVDIR (BURDUR) [South East 2.5 km]
64136,64137,20240429220835,2024-04-29,22:08:35.93,38.3103,38.2865,5.0,3.2,-,3.2,3.0,-,-,Ke,BOSTANBASI-YESILYURT (MALATYA) [East 3.1 km]
64137,64138,20240430080325,2024-04-30,08:03:25.79,38.2458,31.5638,5.0,3.6,-,3.5,3.6,-,-,Ke,YAYLABELEN-AKSEHIR (KONYA) [North East 2.6 km]
64138,64139,20240430232712,2024-04-30,23:27:12.45,35.3570,32.5048,47.2,3.6,-,3.6,3.4,-,-,Ke,AKDENIZ

In [14]:
df = df.drop(columns=['No    '])
df['Datetime'] = pd.to_datetime(df['Date'] + ' ' + df['Origin Time']).dt.strftime('%d/%m/%Y %H:%M:%S')
df = df[['Event ID', 'Datetime', 'Latitude', 'Longitude', 'Depth(km)', 'xM', 'MD', 'ML', 'Mw', 'Ms', 'Mb', 'Type', 'Location']]

In [15]:
df.to_csv("../../data/processed/processed_data_turkey_1900_2024_datetime.csv", index=False)